/build/
/logs/
/run/
/tmp/
/third_party/skynet/
/third_party/lua-protobuf/
/third_party/lua-protobuf-runtime/
/protocol/generated/
*.orig
*.so
*.o
core
core.*
/third_party/luapanda/
/third_party/luasocket/
/third_party/luasocket-runtime/
